<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Trabalho2</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>


        <property name="hibernate.show_sql">true</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="hibernate.current_session_context_class">jta</property>

        <mapping class="model.UsuarioModel"/>
        <mapping class="model.FormaPagtoModel"/>
        <mapping class="model.PessoaModel"/>
        <mapping class="model.ClienteModel"/>
        <mapping class="model.CompraModel"/>
        <mapping class="model.FornecedorModel"/>
        <mapping class="model.ProdutoModel"/>
        <mapping class="model.CompraProdutoModel"/>
        <mapping class="model.VendaModel"/>
        <mapping class="model.VendaProdutoModel"/>

    </session-factory>
</hibernate-configuration>
